
body
{
   color:#40A497; /*on peut nommer les couleurs autrement... */
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
   text-align: justify;
	
}

*
{
	margin: 0px;
	padding: 0px;
}

.nomMedecin
{
	text-align :center;
	color: #000;
	font-size: 20px;
	margin-top: -15px;
	margin-right: auto;
	margin-left: auto;
}

h1
{
	text-align: center;
	font-family: Arial;
	font-size: 50px;
}



.titrePage
{
	background-color: #303030;
}


.titreMedecin
{
	color: #000;
	font-size: 40px;
	margin:0;
}

.medecinZone
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.medecinTable
{
	
}

.medecinBubble
{
	width: 150px;
	height: 150px;
	background-position:center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
}

.medecinBubbleOverlay
{
	background-color:black;
	width: 100%;
	height: 100%;


 	opacity: 0;
	transition: opacity, 1s;
	overflow: hidden;
}

.medecinBubbleText
{
	text-align: center;
	margin-top: 25px;
}
.medecinBubble:hover .medecinBubbleOverlay
{
 	opacity: 1;
}

.medecinNom
{
	text-align: center;
}

.titreMedoc
{
	float: left;
	color: #000;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
}


.medocZone
{
	float:right;
	background-color: #fafafa;
	border: black 0px solid;
	padding-bottom: 0px;
	padding-right: 20px;
	margin-top: 0px;
	overflow: auto;
}

.styleTable
{
	border-spacing: 0px;
	height: 100%;
	width: 100%;
}

table.styleTable td{
	vertical-align: top;
}

tr
{
	
}

.medocTable
{
	margin-left: 5px;
}

.addLeftSpacing
{
	padding-left: 25px;	
}

.medocImg
{
	padding : 5px;
	border : #E0E0E0 solid 2px;
}

.medocNom
{
	text-align:left;
}

.medocCount
{
	font-size: 30px
}

.titreHistorique
{
  padding: 10px;
}

.historiqueZone
{
	background-color: #303030;
	/*float:left;*/
}

.historiqueTexte
{
	padding: 5px;
}

.rightScreenZone
{
	width: 350px;
	float:right;
}



.screenMiddleSeparator
{
  height: 100%;
	padding-left: 5px;
}

.screenMiddleSeparatorLine
{
	width: 7px;
  height: 100%;
	background-color: #303030;
}

.leftScreenZone
{
	
}